#trace-list {
  .list-group-item {
    padding: 1px;
  }
}
//.chart{
//  display: block;
//  overflow-x: auto;
//}

.time {
  width: 150px;
}

.chart-board, .trace-item{
  //margin: 10px;
  display: grid;
  //height: 100%;
  grid-gap: 10px;
  grid-template-columns: auto 200px;
  grid-template-rows: auto;

  .chart, .title {
    grid-column: 1;
    grid-row: 1;
  }

  .stage-details {
    grid-column: 2;
    grid-row: 1;
  }
}


#board {
  margin: 10px;
  display: grid;
  height: 100%;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;

  #trace-list {
    grid-column: 1;
    grid-row: 1;
  }

}
